{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head><title>VoteHub</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

	</head>
	<body>
		<header>
			<div class='top-header'>
				<img src="" alt="VoteHub logo" class="left-image">
				<h1>VoteHub</h1>
				<ul>
					<li class="dropdown">Registration
						<ul>
							<li>Sub item 1</li>
							<li>Sub item 2</li>
						</ul>
					</li>

					<li class="dropdown">Results/Report
						<ul>
							<li>Sub item 1</li>
							<li>Sub item 2</li>
						</ul>
					</li>

					<li class="dropdown">Election Laws
						<ul>
							<li>Sub item 1</li>
							<li>Sub item 2</li>
						</ul>
					</li>

					<li class="dropdown">About Us
						<ul>
							<li>Sub item 1</li>
							<li>Sub item 2</li>
						</ul>
					</li>
				</ul>

			</div>
		</header>
			<h2>Citizen Portal</h2>
			<p>Register to vote, update your current voter registration, apply to vote absentee by mail, or view your polling place, election district, absentee ballot status, and voting history</p>

			<div class="vote-buttons">
				<button onclick="window.location.href='registration'">Register to Vote</button>
				<button>Check Registration status</button>
				<button>Find your polling place</button>
				<button>Apply to vote Absentee by mail</button>
				<button>Cancel Registration</button>
			</div>
			<p>All information entered on this page must be entered in English, failure to do so may cause a delay in processing your application.</p>
			<div class="voter-guide">
				<img src="" alt="Guide Image">
				<p>Voter Pocket guide</p>
				<h3>Get your copy now</h3>
				<button>Get Guide</button>
			</div>
		<footer>
			This is the footer of the page
		</footer>
	</body>
</html>
