{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head><title>Voter Registration</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
	</head>
	<body>
		<h3>Voter Registration</h3>
		<div>
			<button id="btnStep1" class="active" onclick="showStep(1)">Step 1</button>
			<button id="btnStep2" onclick="showStep(2)">Step 2</button>

			<!-- Step 1 Guidelines -->
			<div id="contentStep1">
				<h2>What are the Requirements to Register Online?</h2>
				<ul>
					<li>Kenyan Citizenship: Must be a citizen of Kenya.</li>
					<li>Age Requirement: Must be at least 18 years old.</li>
					<li>Registered Voter: Must be registered as a voter with the Independent Electoral and Boundaries Commission (IEBC).</li>
					<li>Valid National ID or Passport: Must have a valid national ID or Kenyan passport.</li>
					<li>Residence or Registered Polling Station: Must be registered to vote at a specific polling station.</li>
					<li>Sound Mind: Must be of sound mind and not declared legally insane.</li>
					<li>No Disqualifying Conviction: Should not be disqualified from voting due to an electoral offense or other legal disqualification.</li>
				</ul>
				<input type="checkbox" id="consentSignature"> I consent for my DMV signature to be used to register to vote and apply for an absentee ballot.*
				<br>
				<input type="checkbox" id="privacyAct"> I have read the terms of the Privacy Act Notice*
				<br><br>
				<button id="nextButton" onclick="showStep(2)">Next</button>
			</div>

			<!-- Step 2 Account Creation -->
			<div id="contentStep2" style="display: none;">
				<h2>Register New Voters Account</h2>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Register</button>
				</form>

				<button id="previousButton" onclick="showStep(1)">Previous</button>
			</div>
		</div>

		<script src="{% static 'js/registration.js' %}"></script>
	</body>
</html>
